{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} | Login Page {% endblock %}

{% block content %}
    <div class="container">
        
       <h3>Login</h3>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy}}
            <p> <strong><a href="{% url 'password_reset'%}">Forget Password?</a></strong> </p>
             <button class="btn btn-primary" type="submit">Login</button>
        </form>
       
    </div>
    
{% endblock %}